autoimmune
.env
.claude
data/databases
~$*
*.log
*.pyc
sparql/doid.owl
sparql/mondo.owl
sparql/uberon.owl
data/immune-extractor/Archive/*
data/master/*
data/LLM-derived/*
data/1-master/ARI Master List for Leon -  2026-02-05.xlsx
data/1-master/Copy of ARI Master List - Edited Version by Professors of Immunology from National Autonomous University of Mexico.xlsx
data/ARI-SNOMED-Athena/SNOMED-Athena/SNOMED-autoimmune-extractor/Archive/*
data/2-databases/*